extends layout

block content
    #myTabContent.tab-content
      #profile.py-5.bg-dark.tab-pane.fade.show.active(aria-labelledby='profile-tab', role='tabpanel')
        .container
          .row
            .col-md-12.text-white
              h1.text-center.display-3.text-primary PROFILE
              p.text-white { 
              div
                br
                |        FULL_NAME : WORAPONG KHAMTHONG,
                br
                br
                |         GRADUATE : THONGSAENKHAN WITTAYA SCHOOL,
                br
                br
                |         GPA : 2.03,
                br
                br
                |         BIRTH_DATE : 12/SETEMBER/1988,
                div
                  br
                  |         JOB : PROGRAMER BACKEND, MOBILE,
                div
                  br
                  |         EMAIL : COMDEVX@GMAIL.COM,
                div
                  br
                  |         TEL : 0933086746
                div
                  br
                  | }
      #skills.py-5.bg-dark.tab-pane.fade(aria-labelledby='skills-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary SKILLS
              p  
              ul.text-white
                li
                  | PHP LARAVEL, CODEIGNITER, SLIM
                  br
                  br
                li
                  | HTML JQUERY, CSS BOOTSTRAP
                  br
                  br
                li
                  | JS METEOR, EXPRESS, GRAPHQL, REACT-NATIVE, REACT-WEB
                  br
                  br
                li
                  | MYSQL, MSSQL
                  br
                  br
                li
                  | MONGODB
                  br
                  br
                li
                  | COMPUTER TECHNICIAN
                  br
                  br
                li
                  | MANAGED SERVER(UBUNTU CENTOS)
                  br
                  br
      #portfolio.py-5.bg-dark.tab-pane.fade(aria-labelledby='portfolio-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary PORTFOLIO
              p  
              .row.text-white
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/eventsniff.png', height='150', width='150')
                  br
                  h4 Event Sniff
                  p PHP BACKEND API
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/emerplus.png', height='150', width='150')
                  br
                  h4 Emer Plus
                  p PHP BACKEND API
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/bahtsmart.png', height='150', width='150')
                  br
                  h4 Baht Smart
                  p NODEJS BACKEND
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/scbqrcode.png', height='150', width='150')
                  br
                  h4 Promptpay SCB
                  p NODEJS BACKEND
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/coinsner.png', height='150', width='150')
                  br
                  h4 CoinSner
                  p FULL STACK
      #experiented.py-5.bg-dark.tab-pane.fade(aria-labelledby='experiented-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary EXPERIENCED
              p  
              .row.text-white
                | COMPANY_NAME : PLA2FUSION
                br
                |               WORKED_DATE : 11/JUN/2014 - 30/NOV/2016
                br
                |               LOCATION : SUTHEP MUANG CHIANGMAI
                br
                |               POSITION : PHP BACKEND  API
                br
                |               SALARY : 15000 - 18000
                br
                br
                |               COMPANY_NAME : BAHT SMART
                br
                |               WORKED_DATE : 01/DEC/2016 - 31/MAY/2017
                br
                |               LOCATION : KANTARY SUTHEP MUANG CHIANGMAI
                br
                |               POSITION : NODEJS BACKEND
                br
                |               SALARY : 18000 - 21000
                br
                br
                |               COMPANY_NAME : DIGIO
                br
                |               WORKED_DATE : 19/JUN/2017 - 30/SEP/2017
                br
                |               LOCATION : PRARAM 9 KRUNG THEP
                br
                |               POSITION : NODEJS BACKEND SERVICES
                br
                |               SALARY : 18000 - 22000
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
