doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='../bootstrap-4.0.0-beta.1.css', type='text/css')
    title Worapong
    meta(name='description', content='All About of Worapong')
  body.bg-dark
    .bg-primary.py-5.gradient-overlay(style='background-image: url("../images/bgtitle.jpg");')
      .container.py-5
        .row
          .col-md-3.text-white
            img.img-fluid.d-block.mx-auto.mb-5.rounded(src='../images/profile.jpg', width='128', height='')
          .col-md-9.align-self-center.text-white
            h1.display-3.mb-4 Hi. I AM WORAPONG
            h1 I LOVE CODE
            p.lead EXPERIENCED 3 YEAR 
    .py-5.bg-dark
      .container
        .row
          .col-md-12
            ul#myTab.nav.nav-pills.mb-3(role='tablist')
              li.nav-item
                a#profile-tab.nav-link.active.text-white(href='#profile', aria-controls='profile', aria-selected='true', data-toggle='tab', role='tab') PROFILE
              li.nav-item
                a#skills-tab.nav-link.text-white(href='#skills', aria-controls='skills', aria-selected='false', data-toggle='tab', role='tab') SKILLS
              li.nav-item
                a#experiented-tab.nav-link.text-white(href='#experiented', aria-controls='experiented', aria-selected='false', data-toggle='tab', role='tab') EXPERIENCED
              li.nav-item
                a#portfolio-tab.nav-link.text-white(href='#portfolio', aria-controls='portfolio', aria-selected='false', data-toggle='tab', role='tab') PORTFOLIO
    
    block content
